<h1>Welcome my name is Piggy. That's MR Pig for you.  I will help you with your finances.</h1>
<div class="content">
  <h2>Your budget at the momement is: £ <%=@total_budget%></h2>

  <form action="/budgets" method="post">
    <h1>Add to Budget:
    <input type="number" name="budget" id="budget"/>
    <input class="button" type="submit" /></h1>
  </form>
  

</div>
