<h4 class="functions" >Please add company</h4>

<form class="functions" action="/companies" method="post">

<label for="name">Company name:</label>
  <input id="name" name="name" type="text"  />


  <input class="button"type="submit" value='Add' />
</form>
