<h4 class="functions">Add Type.</h4>


<form class="functions" action="/types" method="post">

<label for="type">Please input type:</label>
<input type="text" name="type" />

<input class="button"type="submit" value='Add' />
</form>
