<h4 class="functions">Add to Budget.</h4>


<form class="functions" action="/budgets" method="post">
  <h1>How much would you like to add to your budget?
  <input type="number" name="budget" id="budget"/>
  <input class="button" type="submit" /></h1>
</form>

  
